<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Portfolio Site Production</title>-->

<!--<link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>-->
<!--<link href='http://fonts.googleapis.com/css?family=Arvo:400,400italic,700' rel='stylesheet' type='text/css'>-->

<!--&lt;!&ndash;<link rel="stylesheet" href="css/mixin.css" media="all">&ndash;&gt;-->
<!--<link rel="stylesheet" href="css/global.css" media="all">-->

<!--<link rel="stylesheet" href="css/html5reset.css" media="all">-->
<!--<link rel="stylesheet" href="css/col.css.scss" media="all">-->

<!--<link rel="stylesheet" href="css/12cols.css.scss" media="all">-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<!--<script src="index.js"></script>-->

<!--</head>-->

<!--<body style='background-color:#FFDC11;position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>-->

<div class="outer-container" style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>

  <div class="black-mask"></div>

  <div class="toggle-in">
    <i class="fa fa-bars fa-3x opener" id="open-button"></i>
  </div>

  <div class="nav">
    <div class="toggle-out">
      <p class="upper">Sarah Driban</p>
      <i class="fa fa-times fa-3x" id="close-button"></i>
    </div>
    <div class="clear"></div>
    <div class="navigation" id="menu-nav">
      <ul>
        <li>Home</li>
        <li>Work</li>
        <li>About Me</li>
        <li>Contact Me!</li>
      </ul>
    </div>
    <a>302-547-9267</a>
    <a>sarahdriban@gmail.com</a>
    <a>linkedin.com/sarahdriban</a>
    <a>behance.com/sarahdriban</a>
  </div><!-- end nav -->


  <div class="first-container">
    <div class="content header">
      <div class="home">
        <div class="heading">
          <div class="header-block"></div>
          <!--<%= image_tag("logo-be.png", :alt => "rss feed", class:"social original") %>-->
          <div class="media col span_3_of_12">
            <a href="http://www.behance.net/sarahdriban">
              <div class="social original"><%= image_tag("logo-be.png")%></div>
              <div class="social pink"><%= image_tag("logo-be-pink.png")%></div>
            </a>
            <a href="http://www.linkedin.com/in/sarahdriban">
              <img src="/assets/logo-in.png" class="social original">
              <img src="/assets/logo-in-pink.png" class="social pink">
            </a>
            <a href="http://www.linkedin.com/in/sarahdriban">
              <img src="/assets/logo-mail.png" class="social original">
              <img src="/assets/logo-mail-2.png" class="social pink">
            </a>
          </div><!--END media-->
        </div><!-- end heading -->

        <div class="home-body section group">
          <div class="col span_2_of_12 filler"></div>
          <p class="title col span_8_of_12">Sarah Driban</p>
          <div class="col span_2_of_12 filler"></div>

          <div class="home-links">
            <div class="col span_3_of_12 filler"></div>
            <a href="" class="button1 col span_3_of_12">
              <p>Check out my work!</p>
              <img src="/assets/arrow-right.png">
            </a>
            <a href="" class="button1 col span_3_of_12">
              <p>Learn more about me!</p>
              <img src="/assets/arrow-right.png">
            </a>
          </div><!-- end home-links -->
        </div><!-- end home body -->

      </div><!-- end home-->
    </div><!-- end content -->

  </div> <!-- end first-container-->
  <div class="second-container">
    <div class="portfolio ">

    </div>
  </div><!-- end second-container -->
</div><!-- end outer-container -->

</body>
</html>