<h1><%= image_tag "rails.png" %> RTO+P Rails Boilerplate</h1>
<h2>Check the README for more details on what's included in this boilerplate.</h2>
<p>Find this page in app/views/home/index.html.erb</p>
