
<%= render partial: 'sections/header_home' %>


  <!--<div class="toggle-in">-->
    <!--<i class="fa fa-angle-double-right opener" id="open-button"></i>-->
  <!--</div>&lt;!&ndash; end toggle-in &ndash;&gt;-->



  <a name="top"></a>
  <div class="first-container">
    <div class="content header">
      <div class="home">
        <!--<div class="media col span_3_of_12">-->
          <!--<a href="https://www.behance.net/sarahdriban">-->
            <!--<div class="circle"><i class="fa fa-behance"></i></i></div>-->
          <!--</a>-->
          <!--<a href="http://www.linkedin.com/in/sarahdriban">-->
            <!--<div class="circle"><i class="fa fa-linkedin"></i></div>-->
          <!--</a>-->
          <!--<a href="mailto:sarahdriban@gmail.com">-->
            <!--<div class="circle"><i class="fa fa-envelope-o"></i></i></div>-->
          <!--</a>-->
        <!--</div>&lt;!&ndash;END media&ndash;&gt;-->

          <div class="home-body section group">
          <div class="col span_2_of_12 filler"></div>
          <p class="title col span_8_of_12">Sarah Driban</p>
          <div class="col span_2_of_12 filler"></div>

          <div class="home-links">
            <div class="col span_3_of_12 filler"></div>
            <a href="#portfolio" class="button1 col span_3_of_12">
              <p>Check out my work!</p>
              <div class=""><i class="fa fa-angle-double-right fa-2x"></i></div>
            </a>
            <a href="#about" class="button1 col span_3_of_12">
              <p>Learn more about me!</p>
              <div class=""><i class="fa fa-angle-double-right fa-2x"></i></div>
            </a>
          </div><!-- end home-links -->
        </div><!-- end home body -->
      </div><!-- end home-->
    </div><!-- end content -->
  </div> <!-- end first-container-->

  <%= render partial: 'sections/gallery' %>

  <%= render partial: 'sections/about' %>

  <%= render partial: 'sections/footer' %>

