<a name="about"></a>
<div class="about-me">
  <div class="contact-form">
    <form>
      <input type="text" name="name" value="Name*">
      <input type="text" name="email" value="Email Address*">
      <input type="text" name="message" value="Message">
      <input type="submit" name="submit" value="Submit">

    </form>
  </div><!-- end contact-form -->

  <div class="content header">

    <div class="header-holder"></div>

    <div class="bio section group">
      <div class="col span_3_of_12"></div>
      <div class="col span_4_of_12">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at nibh vel nisi dapibus gravida sit amet non lorem. Maecenas libero neque, tempus ut elit posuere, euismod pulvinar ipsum. Morbi vel mi consectetur, maximus ligula vitae, blandit neque. Etiam sollicitudin dignissim quam iaculis consequat. Sed non vehicula justo. Aenean quis justo massa. Ut arcu turpis, interdum nec fermentum sit amet, molestie at erat.</p>
      </div>
      <div class="col span_4_of_12">
        <p>Cras ac ornare nibh, ut feugiat purus. Nam malesuada facilisis enim, in congue metus sollicitudin eget. Phasellus fringilla ante massa, ac finibus turpis luctus id. Curabitur dolor erat, feugiat sed arcu eu, rhoncus volutpat magna. Class aptent taciti sociosqu ad litora conubia nostra, per himenaeos.</p>
        <a href="#"><div class="resume">
          <p>Check out my resume</p>
          <i class="fa fa-angle-double-right"></i>
        </div></a>
      </div>
    </div><!-- end bio -->
  </div><!-- end content header -->

</div><!-- end about-me -->