<a name="footer"></a>
<div class="footer">
  <p>Sarah Driban &#169; <%= Time.now.year %></p>
  <div class="contact-info">
    <a href="tel:+13025479267">302-547-9267</a>
    <a href="mailto:sarahdriban@gmail.com">sarahdriban@gmail.com</a>
  </div>

</div><!-- end footer -->

</div><!-- end outer-container -->

</body>
</html>