
<div class="sticky-bottom">
  <a href="#top"><div class="col span_1_of_12 bottom-link" id="bottom">
    <i class="fa fa-angle-double-up fa-2x"></i>
    <p>back </br> to top</p>
  </div></a>
</div><!-- end sticky-bottom-->

<a name="footer"></a>
<div class="footer" id="footer">
  <p>Sarah Driban &#169; <%= Time.now.year %></p>
  <div class="contact-info">
    <a href="tel:+13025479267">302-547-9267</a>
    <a href="mailto:sarahdriban@gmail.com">sarahdriban@gmail.com</a>
  </div>

</div><!-- end footer -->


</div><!-- end outer-container -->

</body>
</html>