<div class="media col span_3_of_12">
  <a href="https://www.behance.net/sarahdriban">
    <div class="circle"><i class="fa fa-behance"></i></i></div>
  </a>
  <a href="http://www.linkedin.com/in/sarahdriban">
    <div class="circle"><i class="fa fa-linkedin"></i></div>
  </a>
  <a href="mailto:sarahdriban@gmail.com">
    <div class="circle"><i class="fa fa-envelope-o"></i></i></div>
  </a>
</div><!--END media-->

<div class="sticky-nav">
  <div class="title"><a href="/#top">Sarah Driban</a></div>
</div><!-- end sticky nav-->

<div class="toggle-in2 col span_3_of_12">
  <i class="fa fa-angle-double-right" id="open-button1"></i>
</div><!-- end toggle-in -->