.project {

  /*=======================
    PINKHIPO
 =========================*/

  .ph-pink {
    background-color: #DD6F9C;
  }

  .ph-black {
    background-color: #000000;
  }

  .ph-green {
    background-color: #73D371;
  }

  .ph-yellow {
    background-color: #F2ED9E;
  }

  .ph-orange {
    background-color: #FF9671;
  }








}