/*=======================
  VARIABLES
=========================*/

$gold: #F6BD18;
$yellow: #FFDC11;
$lime: #B8BD35;
$peach: #F48875;
$pink: #B1245A;
$grey: #C1B8AE;
$white: #FFF;
$charcoal: #545251;

$arvo: 'Arvo', serif;
$oswald: 'Oswald', sans-serif;


/*=======================
  CLEARS
=========================*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.clear {
  clear: both;
}

/*==========
HOME SCREEN AND CONTENT
==========================*/
body {
  background-color: $yellow;
}

.first-container{
  background: url(/assets/texture.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 6.5em;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  margin: 150px 0 100px 0;
}

.home {
  height: 700px;
  width: 100%;
}

.filler {
  height: 1px;
}

.content{
  margin: 0px 30px 0 30px;
}

.social {
  width: 50px;
  height: 50px;
  float: left;
  margin: 25px 12px 0 12px;
}

img.original {
  display:block;
  position: relative;
}

.media a:hover img.original {
  display: none;
}

.media a:hover img.pink {
  display: block;
}

img.pink {
  display: none;
}

.button1 {
  height: 21px;
  background-color: $grey;
  padding: 17px 5px;
}

.button1 p {
  font-family: $oswald;
  font-size: 1.1em;
  letter-spacing: .07em;
  color: $white;
  width: 196px;
  text-align: center;
  float: left;
  text-transform: uppercase;
  margin: 0;
}

.button1 img {
  width: 22px;
  float: right;
}

.button1:hover {
  background-color: $pink;

}

.portfolio {
  width: 100%;
  height: 700px;
  background-color: $white;
}

/*==========
Side Bar NAVIGATION
==========================*/

.nav {
  background-color: rgb(177, 36, 90);
  width: 240px;
  height: 640px;
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 100;
  display: none;
}

.nav p, .nav a {
  font-family: $arvo;
  color: $grey;
  margin: 15px 0;
}

.nav a {
  line-height: 2em;
}

.nav ul {
  margin: 20px 0;
}

.upper {
  text-transform: uppercase;
}

.nav li {
  font-family: $oswald;
  text-transform: uppercase;
  font-size: 2em;
  color: $white;
  list-style: none;
  line-height: 1em;
  margin: 40px 0 40px -8px;
  padding: 6px 0 6px 8px;
}

.nav a:hover{
  color: $lime;
}

.nav li:hover {
  background-color: $lime;
  cursor: pointer;
}

.navigation ul {
  margin: 0 0 0 -40px;
}

.toggle-out {
}

.fa-times {
  float: right;
  color: $white;
  cursor: pointer;
  position: relative;
  right: 30px;
}

.upper {
  float:left;
}

.fa-bars {
  float: right;
  color: $white;
  z-index: 110;
  margin: 35px 0 0 0;
  cursor: pointer;
}






/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #67b5d1;
  transition: transform 0.3s;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  background-color: #3184a1;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--slide-right,
  .c-menu--push-left,
  .c-menu--push-right {
    width: 300px;
  }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
  display: block;
  text-align: center;
  border-top: solid 1px #b5dbe9;
  border-bottom: solid 1px #3184a1;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--slide-right,
.c-menu--push-right {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-right,
  .c-menu--push-right {
    transform: translateX(300px);
  }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
  transform: translateX(0);
}

.c-menu--slide-left,
.c-menu--push-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left,
  .c-menu--push-left {
    transform: translateX(-300px);
  }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
  transform: translateX(0);
}