/*=======================
  CLEARS
=========================*/

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

.clear {
  clear: both;
}

/*==========
HOME SCREEN AND CONTENT
==========================*/

.first-container{
  background: url(http://sarahdriban.com/site2/img/texture.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
  font-family: $oswald;
  text-align: center;
  font-size: 6.5em;
  color: $white;
  text-transform: uppercase;
  font-weight: 700;
  margin: 150px 0 100px 0;
}

.home {
  height: 700px;
  width: 100%;
}

.filler {
  height: 1px;
}

.content{
  margin: 30px 30px 0 30px;
}

.social {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 12px;
}

img.original {
  display:block;
  position: relative;
}

.media a:hover img.original {
  display: none;
}

.media a:hover img.pink {
  display: block;
}

img.pink {
  display: none;
}

.button1 {
  height: 21px;
  background-color: $grey;
  padding: 17px 5px;
}

.button1 p {
  font-family: $oswald;
  font-size: 1.1em;
  letter-spacing: .07em;
  color: $white;
  width: 196px;
  text-align: center;
  float: left;
  text-transform: uppercase;
}

.button1 img {
  width: 22px;
  float: right;
}

.button1:hover {
  background-color: $pink;

}

.portfolio {
  width: 100%;
  height: 700px;
  background-color: $white;
}

/*==========
Side Bar NAVIGATION
==========================*/

.nav {
  background-color: $pink;
  width: 240px;
  height: 640px;
  padding: 30px;
  position: fixed;
  right: 0;
  z-index: 100;
}

.nav p, .nav a {
  font-family: $arvo;
  color: $grey;
  margin: 15px 0;
  line-height: 2em;
}

.nav ul {
  margin: 20px 0;
}

.upper {
  text-transform: uppercase;
}

.nav li {
  font-family: $oswald;
  text-transform: uppercase;
  font-size: 2em;
  color: $white;
  list-style: none;
  line-height: 1em;
  margin: 40px 0 40px -8px;
  padding: 6px 0 6px 8px;
}

.nav a:hover{
  color: $lime;
}

.nav li:hover {
  background-color:$lime;
  cursor: pointer;
}






body{
  .container{
    .subNav{
      position: fixed;
      display: none;
      @include transition(.3s);
      &.show{
        display: block;
      }
      &:hover{

      }
    }
  }
}
