
$gold: #F6BD18;
$yellow: #FFDC11;
$lime: #B8BD35;
$peach: #F48875;
$pink: #B1245A;
$sd-grey: #C1B8AE;
$white: #FFF;
$charcoal: #545251;


@mixin arvo {font-family: 'Arvo', serif;}
@mixin oswald {font-family: 'Oswald', sans-serif;}

@mixin transition($time) {
  -webkit-transition: $time;
  -moz-transition: $time;
  -ms-transition: $time;
  transition: $time;
}
